venv/*
djangox_project/__pycache__/*
djangox_project/settings.py 
djangox_project/wsgi.py 
martinbarker/*
pages/*
playlist/*
popularify/*
static/*
staticfiles/*
templates/account/*
templates/martinbarker/*
templates/pages/*
templates/utils/*
templates/wip/*
templates/_base.html
templates/403_csrf.html
templates/404.html 
templates/500.html 
users/*